@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

.headerColor{ 
    background-color: #ffffff; 
    color: #ffffff;
  }
  
.textColor {
    color: #000000
  }
  
body {background-color: #ffffff;}
  
.bodycolor {
    color: #f8f8ff;
  }
  
.vertical-center {
  height:100%;
  width:100%;
  }

#loginFormula{
  text-align: right;
  color: #000000 ;
}  

.odd {
  text-align: auto;
  color: black;
  overflow: auto;
  max-width: 100px;	
  height: 10px;
  padding: 3px;
  font-size: 15px; 
  background: white;
  }