@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

.headerColor{ 
    background-color: #ffffff; 
    color: #ffffff;
  }
  
.textColor {
    color: #000000
  }
  
body {background-color: #ffffff;}
  
.bodycolor {
    color: #000000;
  }
  
.vertical-center {
  height:100%;
  width:100%;
  }

#loginFormula{
  text-align: right;
  color: #000000 ;
}  

#comments-name{
  color: #000000;
}


