<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css"   href="/public/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>

<body method="get">
  
    <div class="row text-center headerColor" style="border : 1px solid #cecece ;">  <!--Banner on top of the site-->
      <div class= "container textColor">
        <p style="font:28px arial bold"><h1 method="get" class="headerMessage">Picture Uploader</h1></p>

    <div id="space">
    </div>

    <div id="space">
    </div>

    <div id="space">
    </div>

   

    <h3>Please submit your Link here</h3>
    <form id="bildupload" method="POST" action="/bildupload">
      <div class="form-group">
        <label  >Link:</label >
        <input name="base64url" type="text" class="form-control" id="base-field" placeholder="Your link">
      </div>
      <button id="hft-shoutbox-form-submit" type="submit" class="btn btn-primary">Submit</button>
    </form>
  
  <!-- this is only to test the scrolling of the side and how different post look underneath each other-->

  <div id="space">
  </div>

  <div id="space">
  </div>

  <div id="space">
  </div>

  <div id="space">
  </div>




  <div class="footerUpload">
    <p>© Copyright Axel Koerner, Henri Reber, Trung Son Nguyen, Tom Biskupski</p>
</div> 
  
  
  </body>
  </html>
