<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css"   href="/public/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>

<body method="get">
  
    <div class="row text-center headerColor" style="border : 1px solid #cecece ;">  <!--Banner on top of the site-->
      <div class= "container textColor">
        <p style="font-size:28px "><h1 method="get" class="headerMessage">Instagram Clone</h1></p>
      </div>
      <div id="loginFormula">
        <form id="loginfeld"  method="post" action="/index">
          <input name="loginname" id="textarea" type="text"  class="fadeIn second" placeholder="login">
          <input name="password"  class="fadeIn third" placeholder="password">
          <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
      </div>
    </div>
  
    <div class="container"> <!--placeholder class between Elements-->
      <div class="row bodycolor">
        placeholder
      </div>
    </div>

  
    <div class="container ">  <!--container with all Elements of the Instagram Post-->
      <div class="row ">
    <div class = "col headerColor" style = "border: 1px solid #cecece;"> 
      <div class="col text-center  "> 
        <img src="https://www.improgrammer.net/wp-content/uploads/2017/06/kBbPmyS9L7ghV0_Mwoeq5PhVErMmqxXONr0SS9u_Xik.jpg" class="img" alt="swag" width="350" height="350">
      </div>
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">first comment</li>
        <li class="list-group-item list-group-item-info">second comment</li>
        <li class="list-group-item list-group-item-warning">third comment</li>
        <li class="list-group-item list-group-item-danger">fourth comment</li>
      </ul>
      <div class = "c text-center">   <!--Comment input class-->
        <div id='form'>
          <div class="row">
            <div class="col">
              <form action="/index" method="get" id="commentform">
                <div id="comment-name" class="form-row">
                  <input name="comment" type = "text" placeholder = "Enter your Comment">
				  <button id="form-submit"  type="submit" class="btn btn-primary">Submit</button>
				  <table class="striped">
            <tbody>
			<% data.forEach(element => {%>
                <tr>
                 
                  <td class="list-group-item list-group-item-success"><%=element.aktuellernutzer%>:</td>
                  <td class="list-group-item list-group-item-success"><%=element.kommentar%></td>
                </tr>
                <% }) %>
                </tr>
                
          </table>
		  
                </div>
            </div>
           </div>
         </div>
      </div>
    </div>
  </div>
   </div>

  
  <!-- this is only to test the scrolling of the side and how different post look underneath each other-->

    
  <div class="container"> <!--Placeholder class between Elements-->
    <div class="row bodycolor">
      placeholder
    </div>
  </div>

  <div class="container ">
    <div class="row ">
  <div class = "col headerColor" style = "border: 1px solid #cecece;"> 
    <div class="col text-center  ">
      <img src=" https://ih0.redbubble.net/image.531944912.8717/flat,800x800,075,f.u2.jpg" class="img" alt="swag" width="350" height="350">
    </div>
    <ul class="list-group">
      <li class="list-group-item list-group-item-success">first comment</li>
      <li class="list-group-item list-group-item-info">second comment</li>
      <li class="list-group-item list-group-item-warning">third comment</li>
      <li class="list-group-item list-group-item-danger">fourth comment</li>
    </ul>
    <div class = "c text-center">
      <div id='form'>
        <div class="row">
          <div class="col">
            <form action="" method="POST" id="commentform">
              <div id="comment-name" class="form-row">
                <input type = "text" placeholder = "Enter your Comment">
              </div>
          </div>
         </div>
       </div>
    </div>
  </div>
</div>
 </div>

 <div class="container"> <!--Placeholder class between Elements-->
  <div class="row bodycolor">
    placeholder
  </div>
</div>

<div class="container ">
  <div class="row ">
<div class = "col headerColor" style = "border: 1px solid #cecece;"> 
  <div class="col text-center  "> 
    <img src="https://ih1.redbubble.net/image.508126171.3613/st%2Csmall%2C215x235-pad%2C210x230%2Cf8f8f8.lite-1u2.jpg" class="img" alt="swag" width="350" height="350">
  </div>
  <ul class="list-group">
    <li class="list-group-item list-group-item-success">first comment</li>
    <li class="list-group-item list-group-item-info">second comment</li>
    <li class="list-group-item list-group-item-warning">third comment</li>
    <li class="list-group-item list-group-item-danger">fourth comment</li>
  </ul>
  <div class = "c text-center">
    <div id='form'>
      <div class="row">
        <div class="col">
          <form action="" method="POST" id="commentform">
            <div id="comment-name" class="form-row">
              <input type = "text" placeholder = "Enter your Comment">
            </div>
        </div>
       </div>
     </div>
  </div>
</div>
</div>
</div>




  <footer class="container-fluid text-center">
    <p>© Copyright Axel Koerner, Henri Reber, Trung Son Nguyen, Tom Biskupski</p>
</footer> 
  
  
  </body>
  </html>
